/* praktikum 4 */
/* body{
  
    background: url('img/tree.jpg'), url('img/field.jpg');
    background-repeat: no-repeat, repeat;
    color: white;
}

h2{
    color: orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.kotak{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#kotak{
    width: 400px;
    color: #fff;
    background: blue;
    padding: 50px;
} */


.satu {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 150px;
    margin-right: 50px;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

.tiga {
    width: 50px;
    height: 50px;
    background-color: violet;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
    background-color: #f0f8ff;
    padding: 15px;
}

.sidebar-satu {
    flex: 1;
    order: 1;
    background-color: #d9ead3;
    padding: 15px;
}

.sidebar-dua {
    flex: 1;
    order: 3;
    background-color: #fce5cd;
    padding: 15px;
}

.gambar {
    width: 100px;
    display: block;
    margin: 0 auto 15px;
}